:root {
    --red: rgb(219, 13, 13);
    --white: rgba(255, 255, 255, 0.93);
    --black: rgb(17, 17, 17);
    --light_red: rgba(251, 77, 77, 0.1);
    --glass: rgba(255, 255, 255, 0.15);
    --dark_red: #390606;
    --border: rgba(255, 255, 255, 0.08);
}

* {
    scroll-behavior: smooth;
    transition: .5s;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    color: var(--white);
    text-decoration: none;
    text-transform: capitalize;
}

li {
    cursor: pointer;
    list-style: none;
}

.flex {
    gap: 4px;
    display: flex;
}
.container {
    color: var(--white);
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background: var(--black)
}

/* header */
header {
    margin: 20px auto;
    background: var(--light_red);
    border-radius: 10px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    backdrop-filter: blur(8px);
    z-index: 1000;
}

.logo,
li {
    transition: .4s;
}

.logo h1 {
    color: white;
    text-transform: uppercase;
}

.logo:hover,
li:hover {
    rotate: -10deg;
    cursor: pointer;
    letter-spacing: 2px;
}

header img {
    width: 30px;
}

header .links {
    gap: 10px;
}

.links li {
    padding: 3px 6px;
    border-radius: 8px;
}

li:hover {
    background: var(--glass);
}

.bars {
    display: none;
    flex-direction: column;
    gap: 5px;
    margin-right: 20px;
    cursor: pointer;
    z-index: 333333;
}

.bars span {
    width: 30px;
    height: 3px;
    background: var(--white);
    transition: .3s;
}

/* sections */
section {
    height: 100vh;
    padding: 1.5rem;
}

.home-section,
.about-section {
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.home-content,
.about-content{
    flex-direction: column;
    gap: 10px;

    line-height: 25px;
    width: 500px;
}

.home-content span,
.about-content span{
    color: var(--red)
}

.home-img img,
.about-img img {
    width: 32vw;

}
/* home section */
.home-content {
    text-align: right;
}

.home-img img {
    animation: slowJump 4s Infinite;
}

@keyframes slowJump {
    0% {
        opacity: 1;
        transform: translateY(0px)
    }

    50% {
        opacity: 0.5;
        transform: translateY(20px)
    }

    100% {
        opacity: 1;
        transform: translateY(0px)
    }


}

.btn-group {
    margin-top: 30px;
}

button {
    padding: 5px 20px;
    color: var(--white);
    height: 30px;
    border: 1px solid var(--border);
    background: var(--red);
    font-size: 15px;
    cursor: pointer;
    margin: 0 12px;
}

.social-icon {
    margin: auto;

}

.social-icon i {
    font-size: 23px;
    margin: 2px 5px;
    cursor: pointer;
    fill: var(--red)
}

.social-icon i:hover {
    scale: 1.4;
    color: var(--red);
    text-shadow: 0 0 8px var(--red),
        0 0 12px var(--red);
    translate : 0 -10px;
}

button.projectBtn {
    border-radius: 8px;
    background: transparent;
    border: solid 2px var(--red);
    gap: 9px;

}
button.projectBtn:hover{
    border:var(--white) solid 2px;
    color:var(--red)
}
button.projectBtn i{
        margin-left : 4px;
}
button:hover {
    scale: .9;
}

/* about section  */
.read-btn {
    width: 200px;
    border-radius: 8px;
}
.hidde-text{
  display:none;
}

